  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Shortlet Rental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header_inner">
          <div class="logo_wrap">
            <img src="img/logo.png" alt="">
          </div>
          <div class="search-wrap">
            <div class="search_cls">
              <div class="search_location">
                <label for="">Where</label>
                <input type="text" class="form-control" placeholder="Search destinations">
              </div>
              <div class="date_wrap">
                <div class="check_in">
                  <label for="">Check in</label>
                  <div for="datepicker" class="datepicker_cls">
                    <input type="text" id="datepicker" autocomplete="off" placeholder="Add Dates">
                  </div>  
                </div>
                <div class="check_out">
                  <label for="">Check Out</label>
                  <div for="datepicker1" class="datepicker_cls">
                    <input type="text" id="datepicker1" autocomplete="off" placeholder="Add Dates">
                  </div>
                </div>
              </div>
              <div class="guest-add">
                <div class="guest-main">
                  <div class="guest-left">
                    <h4>Who</h4>
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Add Guest</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown_cls">
                          <div class="dropdown_list">
                            <h4>Adults</h4>
                            <p>Ages 13 or above</p>
                          </div>
                          <div class="guest_count">
                            <div class="wrap">
                              <button type="button" id="sub" class="sub"><img src="img/minus.png" alt="Minus"></button>
                              <input class="count" type="text" id="1" value="1" min="1" max="100" />
                              <button type="button" id="add" class="add"><img src="img/plus.png" alt="Plus"></button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown_cls">
                          <div class="dropdown_list">
                            <h4>Children</h4>
                            <p>Ages 2-12</p>
                          </div>
                          <div class="guest_count">
                            <div class="wrap">
                              <button type="button" id="sub" class="sub"><img src="img/minus.png" alt="Minus"></button>
                              <input class="count" type="text" id="1" value="1" min="1" max="100" />
                              <button type="button" id="add" class="add"><img src="img/plus.png" alt="Plus"></button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown_cls">
                          <div class="dropdown_list">
                            <h4>Infants</h4>
                            <p>Under 2</p>
                          </div>
                          <div class="guest_count">
                            <div class="wrap">
                              <button type="button" id="sub" class="sub"><img src="img/minus.png" alt="Minus"></button>
                              <input class="count" type="text" id="1" value="1" min="1" max="100" />
                              <button type="button" id="add" class="add"><img src="img/plus.png" alt="Plus"></button>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown_cls">
                          <div class="dropdown_list">
                            <h4>Pets</h4>
                            <p>If Allow pets</p>
                          </div>
                          <div class="guest_count">
                            <div class="wrap">
                              <button type="button" id="sub" class="sub"><img src="img/minus.png" alt="Minus"></button>
                              <input class="count" type="text" id="1" value="1" min="1" max="100" />
                              <button type="button" id="add" class="add"><img src="img/plus.png" alt="Plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="guest-right">
                    <div class="search_icon">
                      <button class="btn btn_primary">
                        <img src="img/search.png" alt="">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="account-sec">
            <div class="become_host">
              <a href="#" class="btn primary_btn">Become a Host</a>
            </div>
            <div class="become_host">
              <a href="#" class="btn secondary_btn" data-bs-toggle="modal" data-bs-target="#exampleModal"> <span class="icon"><img src="img/user.png" alt=""></span> Login/Signup</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
	    <section class="mybooking_page booking-full-page space-cls">
	        <div class="container">
	        	<div class="booking-inner">
	        		<div class="sidebar-wrap">
	        			<div class="sidebar_r">
	        				<div class="inner-title  d-flex align-items-center">
	        					<h2 class="heading-inner-title mb-0">My Booking Detail</h2>
	        					<div class="ms-auto order-id">
	        						<h6>#55ASD66</h6>
	        					</div>
	        				</div>
	        				<div class="my-booking-sec">
	        					<div class="hotel-listing">
		        					<div class="hotel-img">
		        						<img src="img/dtl-3.png" alt="">
		        					</div>
		        					<div class="hotel-cont">
		        						<h5>Royal Suite Glamping Forest Garden Cisarua Puncak</h5>
		        						<p>Lekki - Apartment</p>
		        						<ul class="meta_list">
						                    <li class="meta_single">
						                      <div class="reting-cls">
						                        <div class="reting-icon">
						                          <img src="img/star.png" alt="">
						                        </div>
						                        <div class="location-cont">
						                          <p>4.5</p>
						                        </div>
						                      </div>
						                    </li>
						                    <li class="meta_single">
						                      <span>22 Reviews</span>
						                    </li>
						                </ul>
					                	<ul class="meta_list">
							                <li class="meta_single">
							                  <span class="pro-ic">
							                    <img src="img/superhost.png" alt="">
							                  </span>
							                  <span>Superhost</span>
							                </li>
						            	</ul>
		        					</div>
		        				</div>
		    				   	<div class="other_service_sec">
					                <h4 class="heading-inner-title">Mandatory & Included Services</h4>
					                <div class="list-serv">
					                    <div class="single_serv">
					                      <h6>Final Cleaning</h6>
					                      <h5>Included</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>Internet Access</h6>
					                      <h5>Included</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>Security deposit (Refundable)</h6>
					                      <h5>NGN50,000.00 /booking</h5>
					                    </div>
					                </div>
				                </div>
				                <div class="security-deposit-sec">
				                    <h4 class="heading-inner-title">Security Deposit</h4>
				                    <div class="security-listing">
				                      <h5>Amount: <span>NGN50,000.00 /booking</span></h5>
				                      <h5>Payment method: <span>Both options are available (Card or Bank Transfer)</span></h5>
				                      <p>To be paid when booking or Checkout.</p>
				                    </div>
				                </div>
				                <div class="security-deposit-sec">
				                    <h4 class="heading-inner-title">Additional notes</h4>
				                    <div class="security-listing">
				                      <h5>Check-in schedule: <span>from 15:00 to 18:00 every day</span></h5>
				                      <h5>Check-out schedule: <span>Before 12:00</span></h5>
				                      <p>Refund of security deposit to the credit card 24/48h after your departure</p>
				                    </div>
				                </div>
				                <div class="other_service_sec">
				                	<div class="security-listing">
					                  	<h4 class="heading-inner-title">Optional services</h4>
					                  	<p>Early Check in/Late check Out  ( NGN 10,000.00  /booking )</p>
					                  </div>
				                </div>
				                <div class="other_service_sec">
					                <h4 class="heading-inner-title">Optional Services</h4>
					                <div class="list-serv">
					                    <div class="single_serv">
					                      <h6>Name</h6>
					                      <h5>Peter parker</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>Age</h6>
					                      <h5>25 Year</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>Phone Number</h6>
					                      <h5>0123456789</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>E-Mail</h6>
					                      <h5>peter_parker@mailinator.com</h5>
					                    </div>
					                </div>
				                </div>
				                <div class="other_service_sec">
					                <h4 class="heading-inner-title">Guests' data</h4>
					                <div class="list-serv">
					                    <div class="single_serv">
					                      <h6>Name</h6>
					                      <h5>Peter parker</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>Age</h6>
					                      <h5>25 Year</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>Phone Number</h6>
					                      <h5>0123456789</h5>
					                    </div>
					                    <div class="single_serv">
					                      <h6>E-Mail</h6>
					                      <h5>peter_parker@mailinator.com</h5>
					                    </div>
					                </div>
				                </div>
				                <div class="hotel-price-wrap">
			                  		<h4 class="heading-inner-title">Price Breakdown</h4>
				                    <ul>
				                      <li>
				                        <span class="left_price_p">NGN 200.00 <span><img src="img/cross_icon.png"></span> 5 nights</span>
				                        <span class="right_price_p">NGN 1000.00</span>
				                      </li>
				                      <li>
				                        <span class="left_price_p">Service fee</span>
				                        <span class="right_price_p">NGN 100.00</span>
				                      </li>
				                      <li>
				                        <span class="left_price_p">Extra Amount</span>
				                        <span class="right_price_p">NGN 100.00</span>
				                      </li>
				                    </ul>
				                    <ul class="total_price">
				                      <li>
				                        <span class="left_price_p">Total</span>
				                        <span class="right_price_p">NGN 1200.00</span>
				                      </li>
				                    </ul>
			                  	</div>
			                  	<div class="order-btn d-flex mt-3">
				                	<a href="#" class="btn primary_btn me-3">Re-Book</a>
				                	<a href="#" class="btn primary_btn">Rate Now</a>
				                </div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </section>
    </main>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="footer-left">
                <div class="footer-logo">
                    <a href="#">
                      <img src="img/logo.png" class="logo"> 
                    </a>
                </div>
                <div class="footer-link">
                  <ul>
                    <li>
                      <a href="#">About Us</a>
                    </li>
                    <li>
                      <a href="#">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div class="footer-link">
                  <ul class="mb-0">
                    <li>
                      <a href="#">Privacy policy</a>
                    </li>
                    <li>
                      <a href="#">Help Center</a>
                    </li>
                    <li>
                      <a href="#">Cancellation Policy</a>
                    </li>
                  </ul>
                </div>
            </div>
            <div class="footer-right">
              <div class="footer-cont">
                <h2>Subscribe Our Newsletter</h2>
                <p>Subscribe To Our Newsletter To Get The Latest Updates.</p>
                <form class="subscribe-form">
                  <div class="form-group">
                    <input type="text" name="" placeholder="Email" class="form-control">
                    <div class="subscribe-now">
                      <a href="#" class="btn primary_btn">Subscribe Now</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="copyright_sec">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="copyright_cont">
                  <h5>© Shortlet Rentals Ltd 2022. | All Rights Reserved</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div class="copyright-right">
                    <div class="social-media">
                      <ul>
                          <li>
                            <a href="#">
                              <img src="img/facebook.png" alt="facebook">
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="img/twitter.png" alt="Twitter">
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="img/instagram.png" alt="Twitter">
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="img/whatsapp.png" alt="Twitter">
                            </a>
                          </li>
                      </ul>
                    </div>
                    <div class="payment-option">
                      <ul>
                          <li>
                            <a href="#">
                              <img src="img/bank-transfer.png" alt="Bank Transfar">
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="img/mastercard.png" alt="Master Card">
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="img/visa.png" alt="Visa">
                            </a>
                          </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </footer>
    <div class="button-fix">
    	<a href="#" class="message-right">Message</a>
    </div>
    <!-- Modal -->
    <div class="modal_main_cls">
	    <div class="modal fade add-card-popup" id="AddCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true"><img src="img/cross_icon.png" alt="Revmove"></span>
	              </button>
	            </div>
	            <div class="modal-body">
	                <div class="login-inner">
	                    <div class="sign-title">
	                      <h2>My Cards</h2>
	                    </div>
	                    <form class="login-form">
	                      <div class="form-group">
	                      	<label>Card Number</label>
	                        <input type="text" name="" placeholder="xxxx xxxx xxxx xxxx" class="form-control"> 
	                      </div>
	                      <div class="form-group">
	                      	<label>Expiry Date</label>
	                        <input type="text" name="" placeholder="15-12-2022" class="form-control">
	                      </div>
	                      <div class="form-group">
	                      	<label>CVV</label>
	                        <input type="text" name="" placeholder="xxx" class="form-control">
	                      </div>

	                      <div class="login-btn-cls">
	                          <a href="#" class="primary_btn">Save</a>
	                      </div>
	                    </form>
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="modal fade login-sec" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true"><img src="img/cross_icon.png" alt="Revmove"></span>
	              </button>
	            </div>
	            <div class="modal-body">
	                <div class="login-inner">
	                    <div class="sign-title">
	                      <h2>Login</h2>
	                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	                    </div>
	                    <form class="login-form">
	                      <div class="form-group">
	                        <input type="text" name="" placeholder="Mobile Number/Email Address" class="form-control"> 
	                      </div>
	                      <div class="form-group">
	                        <input type="text" name="" placeholder="Password" class="form-control">
	                      </div>
	                      <div class="remember_sec">
	                        <div class="remember_left">
	                            <label class="custom_checkbox">
	                              <input type="checkbox" >
	                              <span class="checkmark"></span>
	                              Remember Me
	                            </label>
	                        </div>
	                        <div class="forgot-cls">
	                          <div class="forgot-cont">
	                            <a href="#">Forgot Password</a>
	                          </div>
	                        </div>
	                      </div>
	                      <div class="login-btn-cls">
	                          <a href="#" class="primary_btn">Login</a>
	                      </div>
	                      <div class="account-regester">
	                        <p>If you Don't have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#SelectModal">Sign Up</a></p>
	                      </div>  
	                    </form>
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="modal fade select-sec" id="SelectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true"><img src="img/cross_icon.png" alt="Revmove"></span>
	              </button>
	            </div>
	            <div class="modal-body">
	                <div class="login-inner">
	                  <div class="sign-title">
	                    <h2>Select One</h2>
	                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	                  </div>
	                  <div class="row">
	                    <div class="col-md-4">
	                      <div class="select-box-cls">
	                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#SignupModal" class="btn-border">
	                          <span>
	                            <div class="select-icon">
	                              <img src="img/s-1.png" alt="">
	                            </div>
	                            <div class="select-cont">
	                                <h4>Find Your <span class="d-block">Next Shortlet</span></h4>
	                            </div>
	                          </span>
	                        </a>
	                      </div>
	                    </div>
	                    <div class="col-md-4">
	                      <div class="select-box-cls">
	                        <a href="#" class="btn-border">
	                          <span>
	                            <div class="select-icon">
	                              <img src="img/s-2.png" alt="">
	                            </div>
	                            <div class="select-cont">
	                                <h4>Access Current <span class="d-block">Reservation</span></h4>
	                            </div>
	                          </span>
	                        </a>
	                      </div>
	                    </div>
	                    <div class="col-md-4">
	                      <div class="select-box-cls">
	                        <a href="#" class="btn-border">
	                          <span>
	                            <div class="select-icon">
	                              <img src="img/s-3.png" alt="">
	                            </div>
	                            <div class="select-cont">
	                                <h4>Become a <span class="d-block">Host</span></h4>
	                            </div>
	                          </span>
	                        </a>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="modal fade select-sec" id="SignupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true"><img src="img/cross_icon.png" alt="Revmove"></span>
	              </button>
	            </div>
	            <div class="modal-body">
	                <div class="login-inner">
	                  <div class="sign-title">
	                    <h2>Sign Up</h2>
	                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	                  </div>
	                    <form class="login-form row">
	                      <div class="col-md-6">
	                        <div class="form-group">
	                          <input type="text" name="" placeholder="Full Name" class="form-control"> 
	                        </div>
	                      </div>
	                      <div class="col-md-6">
	                        <div class="form-group">
	                          <input type="text" name="" placeholder="Mobile Number" class="form-control">
	                        </div>
	                      </div>
	                      <div class="col-md-12">
	                        <div class="form-group">
	                          <input type="text" name="" placeholder="Email Address" class="form-control">
	                        </div>
	                      </div>
	                      <div class="col-md-6">
	                        <div class="form-group">
	                          <input type="text" name="" placeholder="Password" class="form-control">
	                        </div>
	                      </div>
	                      <div class="col-md-6">
	                        <div class="form-group">
	                          <input type="text" name="" placeholder="Password" class="form-control">
	                        </div>
	                      </div>
	                      <div class="remember_sec">
	                        <div class="remember_left">
	                            <a href="#" class="primary_btn" data-bs-toggle="modal" data-bs-target="#OTPModal">Sign up</a>  
	                        </div>
	                        <div class="forgot-cls">
	                            <div class="signup-social">
	                              <ul>
	                                <li>
	                                  <a href="#">
	                                    <img src="img/f-1.png" alt="">
	                                  </a>
	                                </li>
	                                <li>
	                                  <a href="#">
	                                    <img src="img/google.png" alt="">
	                                  </a>
	                                </li>
	                                <li>
	                                  <a href="#">
	                                    <img src="img/apple-logo.png" alt="">
	                                  </a>
	                                </li>
	                              </ul>
	                            </div>
	                        </div>
	                      </div>
	                      <div class="account-regester">
	                        <p>If you already have an account? <a href="#">Login</a></p>
	                      </div>  
	                    </form>
	              </div>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="modal fade login-sec" id="OTPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true"><img src="img/cross_icon.png" alt="Revmove"></span>
	              </button>
	            </div>
	            <div class="modal-body">
	                <div class="login-inner">
		              <div class="sign-title">
		                <h2>OTP Verification</h2>
		                <p>Enter The OTP which is sent to your Email Address</p>
		              </div>
		                <form class="login-form row">
		                  <div class="col-md-3">
		                    <div class="form-group">
		                      <input type="text" name="" class="form-control"> 
		                    </div>
		                  </div>
		                  <div class="col-md-3">
		                    <div class="form-group">
		                      <input type="text" name="" class="form-control">
		                    </div>
		                  </div>
		                  <div class="col-md-3">
		                    <div class="form-group">
		                      <input type="text" name="" class="form-control">
		                    </div>
		                  </div>
		                  <div class="col-md-3">
		                    <div class="form-group">
		                      <input type="text" name="" class="form-control">
		                    </div>
		                  </div>
		                  <div class="remember_sec">
		                    <div class="remember_left">
		                      <a href="#" class="primary_btn">Verify & Proceed</a>  
		                    </div>
		                    <div class="forgot-cls">
		                      <span class="second-cls">00:59</span>  
		                    </div>
		                  </div>
		                  <div class="account-regester">
		                    <p>Don't Receive the OTP ? <a href="#">Resend OTP</a></p>
		                  </div>  
		                </form>
		          	</div>
	            </div>
	          </div>
	        </div>
	    </div>
    </div>
    <script type="text/javascript" src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/custom.js"></script>
  </body>
  </html>